%flex-spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

%flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding: 20px;
}

%grid-templated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

%grid-card {
    display: grid;
    grid-template-areas: 
    'title '
    'img'
    'img'
    'img'
    'img'
    'img'
    'btn';
    justify-content: center;
    align-items: center;
    padding: 5px;
}