%grid-templated {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

%grid-card {
    display: grid;
    grid-template-areas: 
    'title '
    'img'
    'img'
    'img'
    'img'
    'img'
    '.'
    '.'
    '.';
    justify-content: center;
    align-items: center;
    padding: 5px;
}