%grid-card {
    display: grid;
    grid-template-areas: 
    'title'
    'img'
    '.';
    justify-content: center;
    align-items: center;
    padding: 5px;
}

%grid-search {
    display: grid;
    grid-template-areas: 
    'legend1 legend1 legend1 legend1'
    'radio1 text1 text1 text1'
    'radio2 text2 text2 text2' 
    'legend2 legend2 legend2 legend2'
    'check1 text3 text3 text3'
    'check2 text4 text4 text4'
    'check3 text5 text5 text5'
    'check4 text6 text6 text6'
    'check5 text7 text7 text7'
    'button1 button1 button2 button2';    
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 10% 10% 30%;
}

%grid-library {
    display: grid;
    grid-template-areas: 
    'img header header buttons buttons buttons'
    'img info info info . .'
    'img info info info . .'
    'img screens screens screens screens screens'
    'img screens screens screens screens screens'
    'img screens screens screens screens screens'
    'img screens screens screens screens screens';
    grid-template-rows: 10vh;
    grid-template-columns: 25% 15% 15% 15% 10% 10%;
}

%grid-edit {
    display: grid;
    grid-template-areas: 
    'label1 input1 input1 error1'
    'label2 input2 input2 error2'
    '. submit . .';
    grid-template-columns: 30% 20% 20% 30%;
}

%grid-home {
    display: grid;
    grid-template-areas:
    'main main main user'
    'main main main aside'
    'main main main aside'
    'main main main aside';
    grid-template-columns: 30% 25% 20% 25%;
}

%grid-guest {
    display: grid;
    grid-template-areas: 
    '. . . user'
    'main main main main'
    'main main main main'
    'main main main main';
}