@use './variables' as v;

@mixin adjust-text($size, $style: 400, $align: center) {
	font-size: $size;
	font-weight: $style;
	text-align: $align;
	font-family: 'Mukta', sans-serif;
	color: v.$light_green;
}

@mixin clamp-text($height, $lines) {
	line-height: $height;
	height: $height * $lines;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}

@mixin format-link($color: v.$dark-green) {
	text-decoration: none;
	color: $color;
	&:visited {
		color: $color;
	}
}

@mixin template-grid($columns) {
	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	justify-content: center;
	align-items: center;
}

@mixin adjust-border($px, $color) {
	border: $px solid $color;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin add-modal-background() {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	background-color: v.$background_modal;
}

@mixin adjust-modal-container($height) {
	position: absolute;
	width: 35vw;
	height: $height;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -45%);
	background-color: v.$ash;
}

@mixin adjust-nav-link() {
	display: block;
	color: v.$light-green !important;
	height: 100%;
	padding: 10px 20px;

	&:hover {
		color: v.$turquoise !important;
		background-color: v.$light-green;
	}
}
