// flex
$flex-full: 0 0 100%;
$flex-half: 0 0 50%;

// colors
$blue: #A0D2EB;
$whitesmoke: #E5EAF5;
$light_purple: #D0BDF4;
$dark_purple: #8458B3;
$grey: #494D5F;

$dark_green: #273b40;
$light_green: #cae9ea;
$black: #1d1d1d;
$ash: #3c4748;
$turquoise: #208c8c;
$whitesmoke: whitesmoke;