// flex
$flex-full: 0 0 100%;
$flex-half: 0 0 50%;

// colors
$dark_green: #273b40;
$light_green: #cae9ea;
$ash: #3c4748;
$turquoise: #208c8c;
$whitesmoke: #e5eaf5;
$dark_red: darkred;
$background_modal: rgba(91, 112, 131, 0.4);
$gradient-color: rgb(60, 71, 72);
$gradient-flow: linear-gradient(
	90deg,
	rgba(60, 71, 72, 1) 0%,
	rgba(29, 29, 29, 1) 25%,
	rgba(29, 29, 29, 1) 75%,
	rgba(60, 71, 72, 1) 100%
);
$red: rgb(218, 60, 60);
