@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.about__wrapper {
	@extend %flex-centered;
	flex-wrap: wrap;
	height: 180vh;
    line-height: 1.15;

	.about__block {
		@include m.template-grid(2);
		height: 58.5vh;

		.about__block_text {
			@include m.adjust-text(20px, 400, justify);
			@extend %flex-centered;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
		}

		.about__block_img > img {
			width: 100%;
			height: 60vh;
		}
	}
	.about__feature {
		height: 55vh;
		@extend %flex-centered;
		flex-direction: column;
		gap: 50px;
		@include m.adjust-border(2px, v.$turquoise);

		.about__feature_heading {
			@include m.adjust-text(26px, 600, center);
		}

		.about__feature_wrapper {
			
			@include m.template-grid(3);
			gap: 50px;

			.about__feature_block {
				width: 70%;
				margin: 0 auto;

				h6 {
                    @include m.adjust-text(24px, 600, center);
					padding: 10px;
				}
				p {
					@include m.adjust-text(20px, 400, center);
                    
				}
			}
		}
	}
}
