@use '../layout/flex';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.login__container {
	@extend %flex-basic;

	height: 76vh;
	width: 100vw;

	i {
		color: red;
		font-size: 30px;
		padding: 20px;
		line-height: 30px;
	}

	.login__form {
		@extend %flex-basic;
		flex-direction: column;
		row-gap: 4px;

		background-color: v.$dark-green;
		padding: 30px;
		position: relative;
		@include m.adjust-border(1px, v.$turquoise);

		div {
			@include m.adjust-text(18px);
		}

		.login__link:visited,
		.login__link:link {
			color: v.$light-green;
		}

		p {
			@include m.adjust-text(16px);
		}

		.login__textBox,
		.login__textBox_error,
		.login__btn {
			width: 100%;
			padding: 10px;
			@include m.adjust-text(18px);
			margin-bottom: 10px;
		}

		.login__textBox {
			color: v.$dark-green;
			@include m.adjust-border(1px, v.$turquoise);
		}

		.login__textBox_error {
			color: v.$dark-green;
			@include m.adjust-border(1px, red);
		}

		.login__btn {
			@include m.adjust-border(1px, v.$light-green);
			cursor: pointer;
		}

		.login__google {
			background-color: v.$light-green;
			color: v.$dark-green;
			@include m.adjust-border(1px, v.$turquoise);
			cursor: pointer;
		}
		.login div {
			margin-top: 7px;
		}
		.login__error {
			position: relative;
			bottom: 5px;
			color: red;

		}
	}
}

.register__container {
	@extend %flex-basic;

	height: 76vh;
	width: 100vw;

	i {
		color: red;
		font-size: 30px;
		padding: 20px;
		line-height: 30px;
	}

	.register__form {
		@extend %flex-basic;
		flex-direction: column;
		gap: 4px;

		background-color: v.$dark-green;
		padding: 30px;
		top: 10px;
		position: relative;
		@include m.adjust-border(1px, v.$turquoise);

		p {
			@include m.adjust-text(16px);
		}

		div {
			@include m.adjust-text(18px);
		}
		.register__link:visited,
		.register__link:link {
			color: v.$light-green;
		}

		.register__textBox,
		.register__textBox_error,
		.register__btn {
			width: 100%;
			padding: 10px;
			@include m.adjust-text(18px);
			margin-bottom: 10px;
		}

		.register__textBox {
			@include m.adjust-border(1px, v.$turquoise);
			color: v.$dark-green;
		}

		.register__textBox_error {
			color: v.$dark-green;
			@include m.adjust-border(1px, red);
		}

		.register__btn {
			@include m.adjust-border(1px, v.$light-green);
			cursor: pointer;
		}
		.register__google {
			background-color: v.$light-green;
			color: v.$dark-green;
			@include m.adjust-border(1px, v.$turquoise);
			cursor: pointer;
		}
		.register div {
			margin-top: 7px;
		}
		.register__error {
			position: relative;
			bottom: 5px;
			color: red;
		}
	}
}

.reset__container {
	@extend %flex-basic;

	height: 76vh;
	width: 100vw;

	i {
		color: red;
		font-size: 30px;
		padding: 20px;
		line-height: 30px;
	}

	.reset__form {
		@extend %flex-basic;
		flex-direction: column;
		gap: 4px;

		background-color: v.$dark-green;
		padding: 30px;
		position: relative;
		@include m.adjust-border(1px, v.$turquoise);

		p {
			@include m.adjust-text(16px);
		}

		div {
			@include m.adjust-text(18px);
		}
		.reset__link:visited,
		.reset__link:link {
			color: v.$light-green;
		}

		.reset__textBox,
		.reset__textBox_error,
		.reset__btn {
			padding: 10px;
			@include m.adjust-text(18px);
			@include m.adjust-border(1px, v.$light-green);
			margin-bottom: 10px;
		}

		.reset__textBox {
			@include m.adjust-border(1px, v.$turquoise);
			width: 100%;
			color: v.$dark-green;
		}

		.reset__textBox_error {
			color: v.$dark-green;
			@include m.adjust-border(1px, red);
		}

		.reset__btn {
			width: 100%;
			cursor: pointer;
		}
		.reset div {
			margin-top: 7px;
		}
		.reset__error {
			position: relative;
			bottom: 5px;
			color: red;
		}
	}
}
