@use '../layout/flex';

.login__container {
	@extend %flex-basic;

	height: 80vh;
	width: 100vw;

	i {
		color: red;
		font-size: 30px;
		padding: 20px;
		line-height: 30px;
	}

	.login__form {
		@extend %flex-basic;
		flex-direction: column;

		background-color: #dcdcdc;
		padding: 30px;
		position: relative;

		.login__textBox {
			padding: 10px;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.login__btn {
			width: 100%;
			padding: 10px;
			font-size: 18px;
			margin-bottom: 10px;
			border: none;
			color: white;
			background-color: black;
		}
		.login__google {
			background-color: #4285f4;
		}
		.login div {
			margin-top: 7px;
		}
		.login__error {
			position: relative;
			bottom: 5px;
			color: red;
		}
	}
}

.register__container {
	@extend %flex-basic;

	height: 80vh;
	width: 100vw;

	i {
		color: red;
		font-size: 30px;
		padding: 20px;
		line-height: 30px;
	}

	.register__form {
		@extend %flex-basic;
		flex-direction: column;

		background-color: #dcdcdc;
		padding: 30px;
		position: relative;

		.register__textBox {
			padding: 10px;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.register__btn {
			width: 100%;
			padding: 10px;
			font-size: 18px;
			margin-bottom: 10px;
			border: none;
			color: white;
			background-color: black;
		}
		.register__google {
			background-color: #4285f4;
		}
		.register div {
			margin-top: 7px;
		}
		.register__error {
			position: relative;
			bottom: 5px;
			color: red;
		}
	}
}

.reset__container {
	@extend %flex-basic;

	height: 80vh;
	width: 100vw;

	i {
		color: red;
		font-size: 30px;
		padding: 20px;
		line-height: 30px;
	}

	.reset__form {
		@extend %flex-basic;
		flex-direction: column;

		background-color: #dcdcdc;
		padding: 30px;
		position: relative;

		.reset__textBox {
			width: 90%;
			padding: 10px;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.reset__btn {
			padding: 10px;
			font-size: 18px;
			margin-bottom: 10px;
			border: none;
			color: white;
			background-color: black;
		}
		.reset div {
			margin-top: 7px;
		}
		.reset__error {
			position: relative;
			bottom: 5px;
			color: red;
		}
	}
}
