@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.details__wrapper {
	@extend %flex-basic;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	background-color: rgba(91, 112, 131, 0.4);

	.details__container {
		@extend %flex-centered;
		flex-wrap: wrap;

		position: absolute;
		width: 35vw;
		height: auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -45%);
		border: 1px solid v.$light_green;
		background-color: v.$ash;
		border-radius: 4px;

		.details__close {
			@include m.adjust-text(14px);
			background-color: v.$dark_green;
			width: 10%;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 4px;
		}

		.details__name {
			flex: v.$flex-full;

			@include m.adjust-text(22px, bold, center);
			padding: 5px 0px 0px 0px;
		}

		.details__body {
			flex: v.$flex-full;

			@extend %flex-spaced;

			.details__img {
				flex: v.$flex-half;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			.details__info {
				flex: v.$flex-half;

				@extend %flex-centered;
				padding: 0px 20px;
				gap: 0px;
				@include m.adjust-text(16px, 400, left);

				flex-wrap: wrap;
				width: 50%;

				height: 50vh;
				line-height: 1.2;

				.details__subinfo {
					@include m.adjust-text(18px, 600, left);
					flex: v.$flex-full;

					@extend %flex-spaced;
					width: 100%;
					height: 10%;
					.star {
						-webkit-clip-path: polygon(
							50% 0%,
							65% 30%,
							98% 35%,
							70% 55%,
							79% 91%,
							50% 70%,
							21% 91%,
							30% 55%,
							2% 35%,
							35% 30%
						);
						clip-path: polygon(
							50% 0%,
							65% 30%,
							98% 35%,
							70% 55%,
							79% 91%,
							50% 70%,
							21% 91%,
							30% 55%,
							2% 35%,
							35% 30%
						);
						text-align: center;
						background: v.$turquoise;
						color: white;
						width: 55px;
						height: 45px;
						line-height: 42px;
						@include m.adjust-text(16px, bold, center);
					}

					.star::before {
						display: inline-block;
						background: red;
						vertical-align: middle;
						content: '';
					}
				}

				p {
					flex: v.$flex-full;
					@include m.clamp-text(1.2, 3);	
				}
			}
		}

		.details__summary {
			flex: v.$flex-full;
			margin: 0px 10px 10px 10px;
			@include m.adjust-text(16px, 400, justify);
			@include m.clamp-text(1.2, 6);
		}

		.details__buttons {
			flex: v.$flex-full;
			@extend %flex-basic;
			gap: 10px;
			flex-direction: column;

			button {
				width: 205px;
				padding: 5px 10px;
				@include m.adjust-text(14px, 400, center);
				line-height: 1.2;
				border-radius: 4px;
			}

			button > a,
			.details__links > li > a {
				@include m.format-link();
			}
			.details__linksHolder {
				position: relative;


				.details__links {
					position: absolute;
					right: 0px;
					top: 28px;
					z-index: 1;
					width: 100%;
					border: 1px solid v.$turquoise;

					li {
						background-color: whitesmoke;
						
						a {
							background-color: v.$light-green;
							color: v.$turquoise !important;
							@include m.adjust-text(14px);
							display: block;
							width: 100%;
							padding: 5px 0px;
						}
					}
				}
			}
		}
	}
}

.carouselDetails__wrapper {
	@extend %flex-basic;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;

	background-color: rgba(91, 112, 131, 0.4);

	.carouselDetails__container {
		@extend %flex-centered;
		flex-wrap: wrap;
		position: relative;

		border: 3px solid v.$turquoise;
		background-color: v.$ash;
		border-radius: 4px;
		
		.carouselDetails__image {
			height: 35vw;
			padding: 25px;
			object-fit: contain;
		}

		.carouselDetails__close {
			@include m.adjust-text(14px);
			background-color: v.$dark_green;
			color: v.$light-green;
			width: 5%;
			position: absolute;
			top: 2px;
			right: 2px;
		}
		.carouselDetails__delete {
			@include m.adjust-text(14px);	
			background-color: v.$dark_red;
			width: 10%;
			position: absolute;
			top: 2px;
			left: 2px;
			padding: 5px;
		}
	}
}
