@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers//variables' as v;

.details__container {
    @extend %flex-centered;
    flex-wrap: wrap;

    position: relative;
    width: 25vw;
    height: 65vh;
    margin: 0 auto;
    border: 1px solid black;

    .details__close {
        background-color: lightcoral;
        color: black;
        width: 10%;
        position: absolute;
        top: 0;
        right: 0
    }
    
    .details__name {
        flex: v.$flex-full;

        @include m.adjust-text(24px, bold, center);
        height: 8%;
    }
    
    .details__body {
        flex: v.$flex-full;

        @extend %flex-spaced;
        gap: 10px;
        height: 60%;

        .details__img {
            flex: v.$flex-half;
            width: 100%;
        }
        
        .details__info {
            flex: v.$flex-half;

            @extend %flex-spaced;
            flex-wrap: wrap;
            width: 50%;
            height: 100%;

            .details__subinfo {
                flex: v.$flex-full;

                @extend %flex-spaced;
                width: 100%;
                height: 20%;
            }

            p {
                flex: v.$flex-full;
                height: 10%;
            }
        }
    }
    
    .details__summary {
        flex: v.$flex-full;
        height: 20%;
    }

    .details__buttons {
        height: 8%;
        flex: v.$flex-full;
        @extend %grid-buttons;
    }
    
}
