@use '../layout/flex';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

footer {
    height: 10vh;
    @extend %flex-centered;
    gap: 80%;
    border-top: 3px solid v.$turquoise;
    margin: 20px 0px;

    div {
        .footer__arrow {
            font-size: 36px;
        }
    }
    ul {
        margin-top: 20px;
        @include m.adjust-text(18px, bold, left);
        li {
            @include m.adjust-text(16px, 400, left);
            
            i {
                padding: 3px 5px;
            }
        }
    }

}