@use '../layout/flex';
@use '../helpers/mixins' as m;

header {
	@extend %flex-spaced;

	position: sticky;
	top: 0;
	height: 8vh;
	border-bottom: 3px solid black;
	background-color: white;
	z-index: 1;

	div,
	nav {
		@extend %flex-centered;
		height: 100%;
	}
	div {
		@include m.adjust-text(22px, 600, left);

		img {
			height: 100%;
		}
	}
}

.nav__ul {
	@extend %flex-centered;

	height: 100%;

	li > .header__navLink {
		@include m.adjust-text(20px);
		text-decoration: none;
		color: black;

		i {
			padding: 5px;
			font-size: 18px;
		}
	}
	li > .active {
		color: red;
	}
}
