@use '../layout/flex';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

header {
	@extend %flex-spaced;

	position: sticky;
	top: 0;
	height: 8vh;
	border-bottom: 3px solid v.$turquoise;
	z-index: 1;
	background: rgb(60, 71, 72);
	background: linear-gradient(
		90deg,
		rgba(60, 71, 72, 1) 0%,
		rgba(29, 29, 29, 1) 25%,
		rgba(29, 29, 29, 1) 75%,
		rgba(60, 71, 72, 1) 100%
	);

	div,
	nav {
		@extend %flex-centered;
		height: 100%;
	}
	div {
		@include m.adjust-text(22px, 600, left);

		img {
			height: 200%;
			filter: invert(83%) sepia(95%) saturate(73%) hue-rotate(131deg)
				brightness(95%) contrast(92%);
		}
	}
}

.nav__ul {
	@extend %flex-centered;

	height: 100%;

	li > .header__navLink {
		@include m.adjust-text(20px);
		text-decoration: none;
		color: v.$light_green;

		i {
			padding: 5px;
			font-size: 18px;
		}
	}
	li > .active {
		color: red;
	}
}
