@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.error__container {
	@extend %flex-centered;
	flex-direction: column;
	background-color: v.$whitesmoke;
	@include m.adjust-border(3px, v.$ash);

	p {
		text-align: center;
	}
	i {
		font-size: 30px;
		color: red;
	}
}

.confirm__wrapper {
	@extend %flex-basic;
	@include m.add-modal-background();

	.confirm__container {
		@extend %flex-centered;
		flex-wrap: wrap;

		@include m.adjust-modal-container(30vh);
		@include m.adjust-border(1px, v.$light-green);

		.confirm__text {
			flex: v.$flex-full;
			@extend %flex-centered;
			@include m.adjust-text(24px);
		}
		.confirm__yes,
		.confirm__no {
			flex: 0 0 40%;
			height: 30%;
			@include m.adjust-text(20px);
		}
		.confirm__yes {
			background-color: v.$dark_red;
			color: v.$light-green;
		}
	}
}
