@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.home__guest {
	margin: 20px 0px;

	@extend %grid-guest;

	.home__top {
		height: 5vh;
		padding: 0px 30px;

		grid-area: user;
		@extend %flex-basic;
		justify-content: center;

		@include m.adjust-text(20px);
	}

	.home__guest {
		height: 62vh;

		grid-area: main;
		@extend %flex-basic;

		img {
			height: 95%;
			width: 100%;
		}
	}
}

.home__wrapper {
	margin: 20px;

	@extend %grid-home;

	.home__top {
		height: 5vh;
		padding: 0px 30px;

		grid-area: user;
		@extend %flex-basic;
		justify-content: center;

		@include m.adjust-text(20px);

		i {
			color: v.$red;
			display: inline-block;
		}
		div {
			display: inline-block;
			padding: 5px;
		}
	}

	.home__main {
		height: 70vh;
		padding: 0px;
		margin-top: 10px;

		grid-area: main;
		@extend %flex-centered;
		flex-wrap: wrap;
		gap: 30px;

		h2 {
			flex: v.$flex-full;

			@include m.adjust-text(22px, 600);
		}

		img {
			width: 70%;

			background-color: transparent;
		}

		.home__list {
			height: inherit;
			width: 68vw;
			margin-top: 5px;

			.home__carousel {
				.home__card {
					@extend %flex-basic;
					flex-direction: column;

					@include m.adjust-border(2px, v.$turquoise);

					img {
						width: 100%;
					}
				}
				.home__empty {
					height: 60vh;

					@extend %flex-basic;
					
					@include m.adjust-text(20px)
				};
			}
		}
	}
	.home__aside {
		margin: 15px 0px -15px 0px;
		height: 62vh;

		grid-area: aside;
		@extend %flex-centered;
		flex-direction: column;

		i {
			padding: 5px;

			color: v.$red;
		}

		img {
			height: 100%;
		}

		.home__container {
			height: 35%;
			width: 45%;
			padding: 10px;

			@extend %flex-centered;

			@include m.adjust-border(3px, v.$turquoise);
			border-radius: 100%;
			@include m.adjust-text(18px);
		}
	}
}
