@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;

html {
	background: rgb(60, 71, 72);
	background: linear-gradient(
		90deg,
		rgba(60, 71, 72, 1) 0%,
		rgba(29, 29, 29, 1) 25%,
		rgba(29, 29, 29, 1) 75%,
		rgba(60, 71, 72, 1) 100%
	);
	color: v.$light-green;
}

button {
	background-color: v.$turquoise;
	border-radius: 4px;

	&:hover {
		background-color: v.$light_green;
		color: v.$turquoise !important;
	}
}

i {
	color: v.$light_green;
}
