@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;

html {
	background: v.$gradient-color;
	background: v.$gradient-flow;
	color: v.$light-green;
}

button {
	background-color: v.$turquoise;

	&:hover {
		background-color: v.$light_green;
		color: v.$turquoise !important;
	}
}

i {
	color: v.$light_green;
}
