@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.profile__wrapper {
	height: 10vh;
	width: 95vw;

	@extend %flex-basic;

	.settings__container {
		position: relative;
		left: 35px;

		@include m.template-grid(4);
		column-gap: 12px;

		.profile__block {
			@include m.adjust-border(1px, v.$whitesmoke);
			background-color: v.$turquoise;

			.profile__link {
				@include m.format-link();
				@include m.adjust-text(18px, 400, center);
				@include m.adjust-nav-link();
			}
		}
	}

	.profile__container {
		position: relative;
		left: 35px;
		width: 50%;

		@include m.template-grid(2);
		column-gap: 10px;

		.profile__block {
			@include m.adjust-border(1px, v.$whitesmoke);
			background-color: v.$turquoise;

			.profile__link {
				@include m.format-link();
				@include m.adjust-text(18px);
				@include m.adjust-nav-link();
			}
		}
	}
}

.library__container {
	position: relative;
	width: 90vw;
	min-height: 60vh;
	margin: 30px auto;

	@extend %flex-basic;
	flex-wrap: wrap;

	.library__error {
		height: 60vh;

		@extend %flex-centered;

		@include m.adjust-text(20px);

		i {
			padding: 10px;

			color: v.$red;
		}
	}

	.card__wrapper {
		margin: 2px 0px;

		flex: v.$flex-full;
		@extend %grid-library;
		justify-content: space-between;

		@include m.adjust-border(1px, v.$turquoise);
		background-color: v.$dark-green;

		.card__swiper_placeholder {
			width: 64vw;
			padding: 10px;
			height: 15vh;

			grid-area: screens;
			@extend %flex-basic;

			@include m.adjust-text(20px, 400, center);
		}

		.card__swiper_container {
			width: 64vw;
			padding: 10px;
			height: 15vh;

			grid-area: screens;

			.card__swiper_img {
				height: 180px;
				width: 320px;
			}

			.card__swiper_body {
				.card__error {
					i {
						position: relative;
						padding: 20px;
						left: 350px;

						color: v.$red;
						font-size: 30px;

					}
					div {
						text-align: center;
					}
				}
			}
		}

		.card__img {
			width: 100%;

			grid-area: img;
			@extend %flex-basic;

			img {
				width: 100%;
				object-fit: contain;
			}
		}
		.card__header {
			width: 100%;
			padding: 5px 10px;

			grid-area: header;
			
			@include m.adjust-text(26px, 600, left);
			box-sizing: border-box;
			line-height: 5vh;
		}

		.card__info {
			padding: 10px;

			grid-area: info;
			@extend %flex-basic;
			flex-wrap: wrap;
			box-sizing: border-box;

			@include m.adjust-text(16px, 400, left);

			p {
				flex: v.$flex-full;

				@include m.clamp-text(1.2, 2);
			}
		}
		.card__screenshots {
			grid-area: screens;

			box-sizing: border-box;
		}

		.card__buttons {
			position: relative;

			grid-area: buttons;			

			button {
				@include m.adjust-text(16px);
				@include m.adjust-border(1px, v.$light-green);
			}

			.card__error {
				i {
					position: absolute;
					right: 45px;
					top: 15px;

					color: v.$red;
					font-size: 30px;
				}

				div {
					display: none;
				}
			}

			button {
				height: 60%;
				width: 33.3%;

				cursor: pointer;
			}

			button > a,
			.card__links > li > a {
				@include m.format-link();
			}

			.card__linksHolder {
				position: relative;

				.card__links {
					position: absolute;
					right: 0px;
					top: 43px;
					z-index: 1;
					width: 100%;

					@include m.adjust-text(16px, 600);
					@include m.adjust-border(1px, v.$turquoise);

					li {
						background-color: v.$light-green;

						a {
							display: block;
							width: 100%;
							padding: 5px 0px;

							color: v.$turquoise;

							&:hover {
								color: v.$ash;
							}
						}
					}
				}
			}
		}
	}
}

.edit__wrapper {
	position: relative;
	width: 80%;
	height: 55vh;
	margin: 0 auto;

	@extend %flex-centered;

	i {
		color: v.$red;
		font-size: 30px;
	}

	.edit__form {
		position: relative;
		bottom: 35px;

		flex: v.$flex-half;
		@extend %grid-edit;
		row-gap: 20px;
		column-gap: 20px;

		@include m.adjust-text(18px);

		.edit__label1, .edit__label2 {
			text-align: right;
			line-height: 5vh;
		}

		.edit__input1, .edit__input2 {
			height: 5vh;

			@include m.adjust-text(16px, 400, left);
			color: v.$dark-green;
			@include m.adjust-border(1px, v.$turquoise);
		}

		.edit__input_border1, .edit__input_border2 {
			height: 5vh;

			@include m.adjust-text(16px, 400, left);
			color: v.$dark-green;
			@include m.adjust-border(1px, v.$red);
		}

		.edit__error1, .edit__error2 {
			@extend %flex-basic;

			@include m.adjust-text(16px, 400, center);
			color: v.$red;
		}

		.edit__submit {
			padding: 5px 0px;

			grid-area: submit;

			@include m.adjust-text(16px);
			@include m.adjust-border(1px, v.$light-green);
			cursor: pointer;
		}

		.edit__label1 {
			grid-area: label1;
		}
		.edit__label2 {
			grid-area: label2;
		}
		.edit__input1, .edit__input_border1 {
			grid-area: input1;
		}
		.edit__input2, .edit__input_border2 {
			grid-area: input2;
		}
		.edit__error1 {
			grid-area: error1;
		}
		.edit__error2 {
			grid-area: error2;
		}
	}

	.delete__button {
		padding: 10px 20px;
		position: relative;
		bottom: 35px;

		background-color: v.$dark_red;
		@include m.adjust-border(1px, v.$light-green);
		@include m.adjust-text(24px, 600);
		cursor: pointer;
	}
}
