@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.profile__wrapper {
	@extend %flex-basic;
	height: 10vh;
	width: 100vw;

	.settings__container {
		@include m.template-grid(4);

		.profile__block {
			border: 1px solid black;

			padding: 5px 20px;

			.profile__link {
				@include m.format-link();
				@include m.adjust-text(24px);
				display: block;

				width: 100%;
				height: 100%;
				text-align: center;
			}
		}
	}

	.profile__container {
		@include m.template-grid(3);

		.profile__block {
			border: 1px solid black;

			padding: 5px 20px;

			.profile__link {
				@include m.format-link();
				@include m.adjust-text(24px);
				display: block;

				width: 100%;
				height: 100%;
				text-align: center;
			}
		}
	}
}

.library__container {
	position: relative;

	@extend %flex-basic;
	margin: 30px auto;
	flex-wrap: wrap;
	width: 70vw;
	min-height: 60vh;

	.library__error {
		height: 60vh;
		@extend %flex-centered;
		font-size: 20px;

		i {
			color: red;
			padding: 10px;
		}
	}

	.card__wrapper {
		flex: v.$flex-full;

		@extend %grid-library;
		justify-content: space-between;
		border: 1px solid black;

		.card__img {
			grid-area: img;
		}
		.card__header {
			grid-area: header;
			width: 100%;
			@include m.adjust-text(30px, 700, left);
			padding: 10px;
			box-sizing: border-box;
			line-height: 5vh;
		}
		.card__info {
			grid-area: info;
			@extend %flex-basic;
			flex-wrap: wrap;
			box-sizing: border-box;
			padding: 10px;

			p {
				flex: v.$flex-full;
			}
		}
		.card__screenshots {
			grid-area: screens;
			box-sizing: border-box;
			padding: 10px;
		}
		.card__buttons {
			grid-area: buttons;
			position: relative;

			.card__error {
				i {
					color: red;
					position: absolute;
					right: 45px;
					top: 15px;
					font-size: 30px;
				}
				div {
					display: none;
				}
			}

			button {
				height: 70%;
				width: 33.3%;
			}

			button > a,
			.details__links > li > a {
				@include m.format-link();
			}

			.card__linksHolder {
				position: relative;

				.card__links {
					position: absolute;
					right: 0px;
					top: 50px;
					z-index: 1;
					width: 100%;

					li {
						border: 1px solid black;
						background-color: whitesmoke;
						border-radius: 4px;
						a {
							font-weight: bold;
							display: block;
							width: 100%;
							padding: 5px 0px;
						}
					}
				}
			}
		}
	}
}

.edit__wrapper {
	width: 70%;
	height: 60vh;
	margin: 0 auto;
	@extend %flex-centered;

	i {
		color: red;
		font-size: 30px;
	}

	.edit__form {
		flex: v.$flex-half;

		@extend %grid-edit;
		row-gap: 10px;
		column-gap: 5px;

		.edit__submit {
			grid-area: submit;
		}
		.edit__clear {
			grid-area: clear;
		}
		.edit__label_name {
			grid-area: label1;
		}
		.edit__input_name {
			grid-area: input1;
		}
		.edit__label_age {
			grid-area: label2;
		}
		.edit__input_age {
			grid-area: input2;
		}
		.edit__error1 {
			grid-area: errPass;
			color: red;
		}
		.edit__error2 {
			grid-area: errRePass;
			color: red;
		}
	}
	.delete__button {
		background-color: red;
		padding: 10px 20px;
		border-radius: 5px;
		color: white;
		font-size: 24px;
		font-weight: bold;
	}
}

.card__swiper_container {
	grid-area: screens;
	width: 50vw;
	padding: 10px;

	.card__swiper_img {
		height: 140px;
	}

	.card__swiper_body {
		.card__error {
			i {
				position: relative;
				left: 350px;
				color: red;
				font-size: 30px;
				padding: 20px;
			}
			div {
				text-align: center;
			}
		}
	}
}