@use '../layout/flex';
@use '../layout/grid';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.profile__wrapper {
	@extend %flex-basic;
	height: 10vh;
	width: 95vw;

	.settings__container {
		@include m.template-grid(4);
		column-gap: 12px;
		position: relative;
		left: 35px;

		.profile__block {
			@include m.adjust-border(1px, v.$whitesmoke);
			background-color: v.$turquoise;

			padding: 10px 20px;

			&:hover {
				background-color: v.$light-green;
			}

			.profile__link {
				@include m.format-link();
				@include m.adjust-text(18px);
				display: block;
				color: v.$light-green !important;
				width: 100%;
				height: 100%;
				text-align: center;

				&:hover {
					color: v.$turquoise !important;
				}
			}
		}
	}

	.profile__container {
		@include m.template-grid(2);
		width: 50%;
		column-gap: 10px;
		position: relative;
		left: 35px;

		.profile__block {
			@include m.adjust-border(1px, v.$whitesmoke);
			background-color: v.$turquoise;
			padding: 10px 20px;

			&:hover {
				background-color: v.$light-green;
			}

			.profile__link {
				@include m.format-link();
				@include m.adjust-text(18px);
				display: block;

				width: 100%;
				height: 100%;
				text-align: center;
				color: v.$light-green !important;

				&:hover {
					color: v.$turquoise !important;
				}
			}
		}
	}
}

.library__container {
	position: relative;

	@extend %flex-basic;
	margin: 30px auto;
	flex-wrap: wrap;
	width: 90vw;
	min-height: 60vh;

	.library__error {
		height: 60vh;
		@extend %flex-centered;
		@include m.adjust-text(20px);

		i {
			color: red;
			padding: 10px;
		}
	}

	.card__wrapper {
		flex: v.$flex-full;
		margin: 2px 0px;

		@extend %grid-library;
		justify-content: space-between;
		@include m.adjust-border(1px, v.$turquoise);
		background-color: v.$dark-green;

		.card__swiper_placeholder {
			grid-area: screens;
			width: 64vw;
			padding: 10px;
			height: 15vh;
			@include m.adjust-text(20px, 400, center);
			@extend %flex-basic;
		}

		.card__swiper_container {
			grid-area: screens;
			width: 64vw;
			padding: 10px;
			height: 15vh;

			.card__swiper_img {
				height: 180px;
				width: 320px;
			}

			.card__swiper_body {
				.card__error {
					i {
						position: relative;
						left: 350px;
						color: red;
						font-size: 30px;
						padding: 20px;
					}
					div {
						text-align: center;
					}
				}
			}
		}

		.card__img {
			grid-area: img;
			width: 100%;
			@extend %flex-basic;

			img {
				object-fit: contain;
				width: 100%;
			}
		}
		.card__header {
			grid-area: header;
			width: 100%;
			@include m.adjust-text(26px, 600, left);
			padding: 5px 10px;
			box-sizing: border-box;
			line-height: 5vh;
		}
		.card__info {
			grid-area: info;
			@extend %flex-basic;
			flex-wrap: wrap;
			box-sizing: border-box;
			padding: 10px;
			@include m.adjust-text(16px, 400, left);

			p {
				flex: v.$flex-full;
				@include m.clamp-text(1.2, 2);
			}
		}
		.card__screenshots {
			grid-area: screens;
			box-sizing: border-box;
		}

		.card__buttons {
			grid-area: buttons;
			position: relative;

			button {
				@include m.adjust-text(16px);
			}

			.card__error {
				i {
					color: red;
					position: absolute;
					right: 45px;
					top: 15px;
					font-size: 30px;
				}
				div {
					display: none;
				}
			}

			button {
				height: 60%;
				width: 33.3%;
			}

			button > a,
			.card__links > li > a {
				@include m.format-link();
			}

			.card__linksHolder {
				position: relative;

				.card__links {
					position: absolute;
					right: 0px;
					top: 43px;
					z-index: 1;
					width: 100%;
					@include m.adjust-text(16px, 600);
					@include m.adjust-border(1px, v.$turquoise);

					li {
						background-color: v.$light-green;

						a {
							display: block;
							width: 100%;
							padding: 5px 0px;
							color: v.$turquoise;
						}
					}
				}
			}
		}
	}
}

.edit__wrapper {
	width: 80%;
	height: 55vh;
	margin: 0 auto;
	@extend %flex-centered;
	position: relative;

	i {
		color: red;
		font-size: 30px;
	}

	.edit__form {
		flex: v.$flex-half;
		position: relative;
		bottom: 35px;

		@extend %grid-edit;
		row-gap: 10px;
		column-gap: 20px;
		@include m.adjust-text(18px);

		.edit__submit {
			grid-area: submit;
			@include m.adjust-text(14px);
			padding: 5px 0px;
		}
		.edit__clear {
			grid-area: clear;
			@include m.adjust-text(14px);
			padding: 5px 0px;
		}
		.edit__label_name {
			grid-area: label1;
			padding: 5px 0px;
			text-align: right;
		}
		.edit__input_name {
			grid-area: input1;
		}
		.edit__label_age {
			grid-area: label2;
			padding: 5px 0px;
			text-align: right;
		}
		.edit__input_age {
			grid-area: input2;
		}
		.edit__error1 {
			grid-area: errPass;
			color: red;
		}
		.edit__error2 {
			grid-area: errRePass;
			color: red;
		}
	}
	.delete__button {
		background-color: v.$dark_red;
		padding: 10px 20px;
		@include m.adjust-border(1px, v.$light-green);
		@include m.adjust-text(24px, 600);
	}
}
