@use '../layout/grid';
@use '../layout/flex';
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.search__container {
	position: relative;
	width: 80%;
	margin: 10px auto;

	input {
		@include m.adjust-text(18px, 400, left);
		width: 80%;
	}

	i {
		height: 3vh;
		padding: 5px;
		font-size: 20px;
		color: v.$light_green;
		width: 5%;
		margin-left: 5px;
	}
	button {
		width: 10%;
		padding: 1px 20px;
		@include m.adjust-text(18px);
	}
	.search__flyout {
		background-color: v.$whitesmoke;
		z-index: 1;
		position: absolute;
		right: 90px;
		top: 40px;
		width: 15vw;

		.search__filters {
			@extend %grid-search;
			legend {
				margin: 10px auto;
				@include m.adjust-text(16px, 600);
				color: v.$dark-green;
			}
			button {
				@include m.adjust-text(14px, 400);
				width: 100%;
				margin: 10px auto;
			}
			label {
				color: v.$dark-green;
			}

			.search__legend1 {
				grid-area: legend1;
			}
			.search__legend2 {
				grid-area: legend2;
			}
			.search__check1 {
				grid-area: check1;
			}
			.search__check2 {
				grid-area: check2;
			}
			.search__check3 {
				grid-area: check3;
			}
			.search__check4 {
				grid-area: check4;
			}
			.search__check5 {
				grid-area: check5;
			}
			.search__text1 {
				grid-area: text1;
			}
			.search__text2 {
				grid-area: text2;
			}
			.search__text3 {
				grid-area: text3;
			}
			.search__text4 {
				grid-area: text4;
			}
			.search__text5 {
				grid-area: text5;
			}
			.search__text6 {
				grid-area: text6;
			}
			.search__text7 {
				grid-area: text7;
			}
			.search__radio1 {
				grid-area: radio1;
			}
			.search__radio2 {
				grid-area: radio2;
			}
			.search__button1 {
				grid-area: button1;
			}
			.search__button2 {
				grid-area: button2;
			}
		}
	}
}

.home__container {
	@extend %grid-templated;

	margin: 0 auto;
	width: 95%;
	border: 3px solid v.$turquoise;
}

.card {
	@extend %grid-card;
	height: 50vh;
	margin: 10px;
	position: relative;
	background-color: v.$dark_green;
	border-radius: 4px;

	h3 {
		grid-area: title;
		@include m.adjust-text(20px);
		@include m.clamp-text(1.3, 2);
		height: 50px;
		border-bottom: 1px solid v.$turquoise;
		padding-bottom: 5px;
	}
	img {
		grid-area: img;
		width: 80%;
		max-height: 80%;
		margin: -5px auto 30px auto;
	}
	button {
		position: absolute;
		bottom: 5.5%;
		width: 80%;
		left: 10%;
		@include m.adjust-text(16px);
		border-radius: 4px;
	}
}

.search__error {
	@extend %flex-centered;
	height: 70vh;
	i {
		color: red;
		font-size: 30px;
	}
	div {
		@include m.adjust-text(20px);
	}
}

.pagination__container {
	margin: 0 auto;
	width: 95%;
	@extend %flex-basic;
	@include m.adjust-text(18px);
	padding-top: 10px;
	margin-bottom: -5px;

	.pagination__wrapper {
		@extend %flex-centered;
		column-gap: 35px;
	}
	.pagination__li,
	.pagination__previous_li,
	.pagination__next_li,
	.pagination__break_li {
		position: relative;
		border: 1px solid v.$turquoise;
		padding: 10px 15px;
		&:hover {
			cursor: pointer;
		}
	}
	.pagination__a,
	.pagination__previous_a,
	.pagination__next_a,
	.pagination__break_a {
		width: 100%;
	}
	.pagination__a:after,
	.pagination__previous_a:after,
	.pagination__next_a:after,
	.pagination__break_a:after {
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.active {
		background-color: v.$turquoise;
	}
}
